*,
*::before,
*::after {
    box-sizing: border-box;
}

.login-form__content {
    width: 680px;
    margin: 80px auto;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

.login-form__heading {
    text-align: center;
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: bold;
}


.login__group {
    width: 100%;
}

.login__group-title {
    margin-bottom: 6px;
}

.login__label--item {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #374151;
}

.login__input--text input,
.login__group input[type="password"] {
    width: 680px;
    height: 57px;
    border: 1px solid rgba(95,95,95,1);
    border-radius: 4px;
    padding: 10px 12px;
    margin-bottom: 30px;
    appearance: none;
    outline: none;
}

.login__input--text input:focus,
.login__group input[type="password"]:focus {
    border-color: #60a5fa;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, .25);
}

.login__error {
    font-size: 12px;
    color: red;
    padding: 6px 0 0;
}

.login__button {
    margin-top: 20px;
    text-align: center;
}

.login__button-submit {
    padding: 10px;
    width: 680px;
    height: 65.25px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: rgba(255, 85, 85, 1);
    font-size: 26px;
    font-style: bold;
}

.bottom__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 115, 204, 1);
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .login-form__content {
        width: 720px;
        margin: 100px auto;
    }

    .login__input--text input,
    .login__group input[type="password"],
    .login__button-submit {
        width: 720px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .login-form__content {
        width: 70%;
    }

    .login__input--text input,
    .login__group input[type="password"],
    .login__button-submit {
        width: 100%;
    }

    .login-form__heading h2 {
        font-size: 26px;
        /* 見出しは少し小さめ */
    }

    .bottom__link {
        font-size: 16px;
    }
}