body {
    font-family: "Inter", sans-serif;
}

.address {
    width: 680px;
    margin: 80px auto;
    text-align: center;
}

/* 見出し */
.address__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* ラベル */
.address__label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 24px;
}

.address__input {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.address__submit {
    margin-top: 40px;
    width: 100%;
    padding: 12px;
    background: #ff5555;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    height: 60px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .address {
        width: 720px;
    }

    .address__title {
        font-size: 38px;
    }

    .address__label {
        font-size: 26px;
    }

    .address__submit {
        font-size: 28px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .address {
        width: 80%;
    }

    .address__title {
        font-size: 28px;
    }

    .address__label {
        font-size: 20px;
    }

    .address__input {
        height: 40px;
        font-size: 13px;
    }

    .address__submit {
        font-size: 22px;
        height: 55px;
    }
}