body {
    font-family: "Inter", sans-serif;
}

.catalog {
    margin-top: 60px;
}

.catalog__tabs {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 24px;
    padding-left: 100px;
}

.catalog__tab-link {
    margin-left: 100px;
    color: #000;
    text-decoration: none;
}

.catalog__tabs .catalog__tab-link.is-active,
.catalog__tabs .catalog__tab-link.is-active:visited {
    color: red;
    font-weight: bold;
}

.catalog__badge-sold {
    display: inline-block;
    padding: 2px 4px;
    border: 2px solid red;
    color: red;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 1px;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
}

.catalog__card {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.catalog__image img {
    width: 100%;
    display: block;
}

.catalog__empty {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}

.catalog__card a {
    text-decoration: none;
    color: black;
}

.catalog__name {
    font-weight: 400;
    font-size: 25px;
    font-style: Regular;
    margin-top: 7px;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .catalog__card {
        width: 25%;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .catalog__tabs {
        padding-left: 40px;
        font-size: 20px;
    }

    .catalog__tab-link {
        margin-left: 40px;
    }

    .catalog__card {
        width: 50%;
    }

    .catalog__empty {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 15px;
    }

    .catalog__name {
        font-weight: bold;
        font-size: 25px;
        font-style: Regular;
    }

    .catalog__name {
        font-weight: 400;
        font-size: 18px;
        font-style: Regular;
    }
}